.main {
  background-image: url("../image//img1.jpg");
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 30px;
  padding-bottom: 30px;

  &::before{
      content: "";
      width: 1px;
      height: 70px;
      position: absolute;
      background-color: #baa08f;
      bottom: 30px;
  }
  .animate {
    position: absolute;
    // width: 270px;
    // height: 3px;
    // background-color: #BAA08F;
    top: 20%;
    left: 10px;
    animation: animate 1s infinite;
  }
  .main-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 30px;
  }

  .left-text {
    color: white;
    .title {
      font-size: 28px;
    }
    h1 {
      margin-top: 30px;
      font-size: 60px;
    }
    .button-content {
      margin-top: 30px;
      button {
        color: white !important;
        background-color: transparent;
        font-size: 24px;
        font-weight: 600;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        position: relative;
        display: block;
        margin-left: 80px;
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: -60%;
          width: 70px;
          height: 2px;
          background-color: white;
        }
      }
    }
  }

  .right-buttons {
    display: flex;
    flex-direction: column;
    button {
      width: 60px;
      height: 60px;
      background-color: #baa08f;
      color: white;
      font-size: 22px;
      border: none;
      margin: 10px;
    }
  }

  .social-icons {
    box-sizing: border-box;
    width: 100%;
    padding-left: 80px;
    display: flex;
    justify-content: flex-start;
    ul {
      display: flex;
      justify-content: flex-start;
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        a {
          text-decoration: none;
          font-size: 20px;
          color: white;
          display: block;
          margin: 10px;
        }
      }
    }
  }

  // @keyframes animate {
  //     0% {
  //         width: 270px;
  //         height: 3px;
  //         background-color: #BAA08F;
  //         top: 20%;
  //         left: 10px;
  //     }
  //     25% {
  //         // width: 270px;
  //         // height: 3px;
  //         // background-color: #BAA08F;
  //         // top: 10px;
  //         // left: 20%;
  //     }
  //     50% {
  //       background-position: 91% center;
  //     }
  //     75% {

  //         background-position: 91% center;
  //       }
  //       100% {
  //         background-position: 91% center;
  //       }
  //   }
}
